@model IEnumerable<LifeDrop.Models.DonationCenter>



@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}


@foreach (var center in Model)
{
    <div class="donation-card">
        <h5 class="card-title">@center.CenterName</h5>
        <p class="card-text">@center.Address</p>
        <p class="card-text">@center.City</p>
        <p class="card-text"><strong>Contact:</strong> @center.ContactNumber</p>
    
    </div>
}





