body,html {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}



.slogan{
  font-size: 40px;
  font-family:'Lato ';
  background: linear-gradient(to right,black 30%, rgb(111, 107, 107) 40%, rgb(104, 3, 3) 60%);
  background-clip: text;
  color: transparent;
  text-align: center;
  
}

.flip-card {
  background-color: transparent;
  width: 300px;    
  height: 200px;
  perspective: 1000px; 
  margin: auto;
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgb(171, 166, 166);
  border-radius: 15px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-back {
  background-color: gray;
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
  box-sizing: border-box;
}

/* Welcome section */
.welcome-section {
  padding: 2rem 1rem;
  position: relative;
  left:-400px;
}

.welcome-text {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  height:fit-content;
}

.lead {
  font-size: 1.2rem;
  color: #555;
}

.donation-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
  padding: 0;
  position: relative;
  left:-400px;
  bottom:100px;
  max-width: 1200px;

}

@media (min-width: 600px) {
  .donation-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .donation-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.donation-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    width:300px;
}

.donation-card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.2rem;
  color: rgb(134,1,1);
  margin-bottom: 0.5rem;
}

.card-text {
  margin: 0.25rem 0;
  color: #333;
}
