@{
    ViewData["Title"] = "About";
}
<div style="
    background-image: url('/images/Home/about-bg.jpg');
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    padding: 100px;
    border-radius:15px;">
    <h1 style="color:black">"LifeDrop – Connecting Blood Donors with Those in Need" </h1>
    <p style="color:black">LifeDrop is a lifesaving platform designed to connect voluntary blood donors with patients in urgent need. Whether you're looking to donate blood and save lives or urgently seeking a compatible donor for a loved one, LifeDrop makes it simple, fast, and secure.</p>
</div>

<div class="stats-container">
    <div class="stat-box">
        <span class="stat-number">3M+</span>
        <span class="stat-label">Donors</span>
    </div>
    <div class="stat-box">
        <span class="stat-number">1K+</span>
        <span class="stat-label">Donation Centers</span>
    </div>
    <div class="stat-box">
        <span class="stat-number">2M+</span>
        <span class="stat-label">Saved Lives</span>
    </div>
</div>

