@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

@model IEnumerable<DonationCenter>



<div class="text-center">
    <p class="slogan">Life Flows Through Your Veins.<br>Share It.</p>
</div>

<div class="flip-card" id="flipCard">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="~/images/Home/img1.jpg" alt="Donate" style="width:100%; height:100%; border-radius:10px;">
        <div style="position:absolute; bottom:10px; left:100px; width:100%; color:rgb(243, 237, 237); font-size:0.7rem; text-shadow: 1px 1px 3px black;">
          Flip Me
        </div>
      </div>
      <div class="flip-card-back">
        <p>Thank you for considering donation! You can save lives.</p>
      </div>
</div>

<div class="welcome-section">
    <h1 class="welcome-text">Welcome to LifeDrop</h1>
    <p class="lead">Find and support local blood donation centers.</p>
</div>

<div class="donation-centers-section">
    <h2>Nearby Donation Centers</h2>
    <div class="donation-grid">
        @await Html.PartialAsync("_DonationCenterCards", Model)
    </div>
</div>

<div class="view-all-button">
    <a asp-controller="DonationCenter" asp-action="Index" class="btn btn-primary">View All Centers</a>
</div>



<script>
  const flipCard = document.getElementById('flipCard');
  flipCard.addEventListener('click', () => {
    flipCard.classList.toggle('flipped');
  });
</script>