html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body {
  margin-bottom: 60px;
}


.img1{
  width:300px;
  height:300px;
  border-radius: 20px;
}


footer a {
  text-decoration: none;
  color: #3c3c3c;
}


.text-center1, .text-center2 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}




.d-grid .btn:hover{
  border:1px solid gray;
}

.login-link, .register-link{
  text-decoration: none;
  color:#3c3737;
} 

.login-link:hover, .register-link:hover{
  color:rgb(134,1,1);
}


@media (max-width: 991.98px) {
    .navbar {
        font-size: 16px;
    }

    
}

@media (max-width: 767.98px) {
  .navbar {
      flex-direction: column;
      font-size: 14px;
      width:10%;
  }

  .navbar-nav .nav-link {
    width: 10%;        
    text-align: center; 
    padding: 0.5rem;      
  }

  .nav-item{
    width:10%;
  }
  
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}